/// Sets color-related properties.

// Set theme-related colors.
[data-theme='light'],
[data-theme='dark'],
[data-colors='light'],
[data-colors='dark'],
[data-colors='invert'],
[data-colors='normal'] {
  background-color: var(--bg);
  color: var(--text);

  a {
    color: var(--link);

    &:is(:hover, :focus) {
      color: var(--link-hover);
    }
  }
}

// Set background color attributes.
$color-list: primary, secondary, neutral;

@each $color in $color-list {
  [data-bg='#{$color}'] {
    border-color: var(--#{$color}-6);
    background-color: var(--#{$color}-1);
  
    &[data-bg-opacity='high'] {
      background-color: hsl(from var(--#{$color}-1) h s l / 90%);
    }
  
    &[data-bg-opacity='medium'] {
      background-color: hsl(from var(--#{$color}-1) h s l / 50%);
    }
  
    &[data-bg-opacity='low'] {
      background-color: hsl(from var(--#{$color}-1) h s l / 10%);
    }
  
    &[data-shade-offset='1'] {
      background-color: var(--#{$color}-2);
    }
  
    &[data-shade-offset='2'] {
      background-color: var(--#{$color}-3);
    }
  
    &[data-shade-offset='3'] {
      background-color: var(--#{$color}-4);
    }
  }
}

// Set text and link color attributes.
@each $color in $color-list {
  [data-text='#{$color}'] {
    color: var(--#{$color}-9);
  }
}

@each $color in $color-list {
  [data-links='#{$color}'] {
    a {
      color: var(--#{$color}-8);
  
      &:is(:hover, :focus) {
        color: var(--#{$color}-9);
      }
    }
  }
}
